<a href="https://colab.research.google.com/github/metindrk/Python-Assignment/blob/main/10_11_21_Soru_C%C3%B6z%C3%BCm%C3%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# birden cok kurzer       ctrl + d   birden cok kelime seciyoruz

In [ ]:
# Birden cok satiri comment yapma

In [ ]:
# birden cok satiri ayni anda tirnak yada parantez icine alma

In [ ]:
# Colab den cikti alma

In [ ]:
# Dünyanin 5 süper gücü. Amerika, Almanya, Ingiltere, Cin ve Japonya.

# Düsünelim ki bu ülkelerde cesitli mühendisler var ve 

# bazisinda olan mühendisler digerinde yok. Ama Elektrik elektronik Mühendisi hepsinde var.

# Bu bes ülke bir anlasma imzaliyor ve sadece kendisinde mühendisligin bir türü

# mevcut olan ülke diger ülkelere bu mühendislik ile ilgili egitim verecektir. 

# Mesela Almanya diger ülkelere Otomotiv Mühendisligi egitimi verecek iken

# Amerika ise diger ülkelere Software engineer egitimi verecektir.

# Ancak elek. Mühendisligi tüm ülkelerde oldugu icin bu mühendislik egitimi 

# icin bir egitim planlamasi yapilmayacaktir. 

# Ve egitim verecek olan mühendislerin tamamindan bir egitim takimi 

# olusturulacaktir. Ve bu takim icerisinde her bir mühendislik bransindan sadece 

# 1 tane ögretim görevlisi mühendis bulunacaktir.

# Bu egitimi verecek olan mühendisin ise hangi ülkeden oldugu önemli degil

# sadece 1 tane olmasi önemlidir. Yani mesela otomotiv mühendisligi verecek olan 

# mühendis, egitim takiminda tek olacaktir.

#  Ülkelerin sahip oldugu mühendisler su sekildedir.

alman = {"otomotiv", "elektrik", "makine", "insaat"} 

abd = {"software", "elektrik", "bilgisayar", "System"}        

ing = {"ucak", "elektrik", "endüstri", "gida"}

cin = {"insaat", "elektrik", "endüstri", "software"}

japonya = {"elektrik", "insaat", "teknoloji", "maden" }

egitimtakimi = (alman | abd | ing | cin | japonya) - ( alman & abd & ing & cin & japonya)

print(egitimtakimi) 



## Egitim verecek olan mühendislerden olusacak takimi python kodu ile yazar misiniz ??

{'makine', 'insaat', 'endüstri', 'ucak', 'otomotiv', 'teknoloji', 'System', 'bilgisayar', 'software', 'maden', 'gida'}

In [ ]:
para1 = float(input("Lütfen para atiniz: "))

print("Merhaba hosgeldiniz. Güncel bakiyeniz: ", para1)



if para1 >= 1.50:
  soru = input("Cay mi istersiniz kahve mi?").lower().strip()
  
  if soru == "cay":
    print("Cayiniz hazirlaniyor. Buyrun para üstünüz:", para1 - 1, "Euro")

  elif soru == "kahve":
    print("Kahveniz hazirlaniyor. Buyrun para üstünüz:", para1 - 1.50, "Euro")

  else:
    print("Üzgünüz buyrun para üstünüz:", para1, "Euro")







elif 1 <= para1 < 1.50:
  soru = input("Bakiyeniz ile sadece cay alabilirsiniz. Cay ister misiniz?").lower()

  if soru == "evet":
    print("Cayiniz hazirlaniyor. Buyrun para üstünüz:", para1 - 1, "Euro")

  elif soru == "hayir":
    print("Tesekkür ederiz buyrun para üstünüz:", para1, "Euro")

  else:
    print("Üzgünüz buyrun para üstünüz:", para1, "Euro")






elif para1 < 1:
  soru = input("Para eklemek istermisiniz bakiyeniz yetersiz ?").lower()

  if soru == "hayir":
    print("Tesekkür ederiz buyrun para üstünüz:", para1, "Euro")

  elif soru == "evet":
    para2 = float(input("Lütfen para ilave ediniz:"))

    if para1 + para2 >= 1.50:
      soru = input("Cay mi istersiniz kahve mi?").lower().strip()
      
      if soru == "kahve":
        print("Kahveniz hazirlaniyor. Buyrun para üstünüz:", para1 + para2 - 1.50, "Euro")

      elif soru == "cay":
        print("Cayiniz hazirlaniyor. Buyrun para üstünüz:", para1 + para2 - 1, "Euro")

      else:
        print("Üzgünüz buyrun para üstünüz:", para1 + para2, "Euro")

    elif para1 + para2 < 1:
      print("Üzgünüz buyrun para üstünüz:", para1 + para2, "Euro")

    elif 1 <= para1 + para2 < 1.50:
      soru = input("Parani ile sadece cay alabilirisniz. Cay ister misiniz?? ").lower()

      if soru == "hayir":
        print("Tesekkürler buyrun para üstünüz:", para1 + para2, "Euro")

      elif soru == "evet":
        print("Cayiniz hazirlaniyor. Buyrun para üstünüz:", para1 + para2 - 1, "Euro")

      else:
        print("Üzgünüz buyrun para üstünüz:", para1 + para2, "Euro")

  else:
    print("Üzgünüz buyrun para üstünüz:", para1, "Euro")

else:
  print("Üzgünüz buyrun para üstünüz:", para1, "Euro")

Lütfen para atiniz: 0.5
Merhaba hosgeldiniz. Güncel bakiyeniz:  0.5
Para eklemek istermisiniz bakiyeniz yetersiz ?a
Üzgünüz buyrun para üstünüz: 0.5 Euro

In [ ]:

girdi1 = float(input("Lütfen matematik notunuzu giriniz: "))
girdi2 = float(input("Lütfen ingilizce notunuzu giriniz: "))
girdi3 = float(input("Lütfen cografya notunuzu giriniz: "))
girdi4 = float(input("Lütfen fizik notunuzu giriniz: "))
girdi5 = float(input("Lütfen kimya notunuzu giriniz: "))

notort = ((girdi1 + girdi2 + girdi3 + girdi4 + girdi5) / 5)

if notort >= 90 \
  and (girdi1 >= 85 and girdi2 >= 85 and girdi3 >= 85 and girdi4 >= 85 and girdi5 >= 85):

  print("Tebrikler Not Ortalamaniz: ", notort, "AA", " ve Onur belgesine hak kazandiniz")

elif notort >= 90 \
  and (girdi1 < 85 or girdi2 < 85 or girdi3 < 85 or girdi4 < 85 or girdi5 < 85):
  print("Tebrikler Not Ortalamaniz: ", notort, "AA", " Ancak Onur belgesine hak kazanamadiniz")

elif 80 <= notort < 90:
  if girdi1 >= 75 and girdi2 >= 75 and girdi3 >= 75 and girdi4 >= 75 and girdi5 >= 75:
    print("Tebrikler Not Ortalamaniz: ", notort, "AB", " 1000 Euro hediye ceki kazandiniz")

  else:
    print("Tebrikler Not Ortalamaniz: ", notort, "AB")
    
elif 70 <= notort <= 80:
  if girdi1 >= 70 and girdi2 >= 70 and girdi3 >= 70 and girdi4 >= 70 and girdi5 >= 70:
    print("Tebrikler Not Ortalamaniz: ", notort, "BB", " 500 Euro hediye ceki kazandiniz")

  else:
    print("Tebrikler Not Ortalamaniz: ", notort, "BB")

elif 60 <= notort < 70:
  print("Not ortalamaniz:", notort, "BC")

elif 50 <= notort < 60:
  print("Not ortalamaniz:", notort, "CC")

elif 40 <= notort < 50:
  print("Not ortalamaniz:", notort, "DD")

elif notort < 40 \
  or (girdi1 < 40 or girdi2 < 40 or girdi3 < 40 or girdi4 < 40 or girdi5 < 40):
  print("Üzgünüz not Ortalamaniz: ", notort, "FF", "Sinif tekrari")

In [ ]:
"23".isdigit()

True

In [ ]:
"onaltı".isdigit()

False

In [ ]:
"-45".isdigit()

False

In [ ]:
age = input("Enter your age please : ")
while not age.isdigit() :
  print("You entered incorrect.")
  age = input("Enter your age again please : ")
print("Great! You entered valid input :", age)

Enter your age please : onaltı
You entered incorrect.
Enter your age again please : 25,5
You entered incorrect.
Enter your age again please : 25
Great! You entered valid input : 25

In [ ]:
answer = 78
print("LET'S PLAY QUESSİNG GAME!")

while True :
  num = int(input("Enter two digit number to quess mine : ")) 
  if num < answer :
      print("Little higher")
  elif num > answer :
      print("Little lower")
  else :   # num == answer
      print("Great! You are mindreader.")
      break

LET'S PLAY QUESSİNG GAME!
Enter two digit number to quess mine : 89
Little lower
Enter two digit number to quess mine : 880
Little lower
Enter two digit number to quess mine : 79
Little lower
Enter two digit number to quess mine : 78
Great! You are mindreader.

In [ ]:
sentence = input("[Please write a sentence :] ")
word_list = sentence.split()
i = 0
longest = 0

while i < len(word_list) :
    
  if len(word_list[i]) > longest :
      
    longest = len(word_list[i])
    
  i += 1

print("The length of the longest word :", longest)

[Please write a sentence :] clarusway is teh best
The length of the longest word : 9

In [ ]:
sentence = input("Please Enter a sentence : ").split()
i = 0
longest = 0

while i < len(sentence) :
  
  if len(sentence[i]) > longest :
   
    longest = len(sentence[i])
  i += 1 

print("The lenght of the longest word :", longest)

Please Enter a sentence : clarusway is the best.
The lenght of the longest word : 9

In [ ]:
seasons = ['Spring', 'Summer', 'Fall', 'Winter']
list(enumerate(seasons))

[(0, 'Spring'), (1, 'Summer'), (2, 'Fall'), (3, 'Winter')]

In [ ]:
num1 = float(input('Please enter 1st: '))
num2 = float(input('Please enter 2nd: '))
num3 = float(input('Please enter 3rd: '))
if (num1 > num2) and (num1 > num3):
  print("The bigest number is", num1)
elif (num2 > num1) and (num2 > num3):
  print("The bigest number is", num2)
else :                                      #  ==(num3> num2) and (num3 > num1)
  print("The bigest number is", num3)

Please enter 1st: 89
Please enter 2nd: 895
Please enter 3rd: 478
The bigest number is 895.0

In [ ]:
print(len([i for i in range(1,1001) if "3" in str(i)]))

271

In [ ]:
num = len([i for i in range(1001) if "3" in str(i)])
print("'3' number in '1000' have", num)

'3' number in '1000' have 271

In [ ]:
[i for i in range(1,1001) if "3" in str(i)]
print(i)

4

In [ ]:
print(len())
[i 
if "3" in str(i)]

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
new = []
for i in range(40) :
  if "3" in str(i) :
    new.append(i)
print(len(new))

13

In [ ]:
s = "hello"
indeks = [i for i in range(len(s)) if s[i] in "AEIOUaeiou"]
consonants = [j for j in s if j not in "AEIOUaeiou" ]
vowels = [k for k in s if k in "AEIOUaeiou"][::-1]

for i in range(len(indeks)) :
  consonants.insert(indeks[i], vowels[i])
print("".join(consonants))

holle

In [3]:
number = 0

while number < 6:
    print(number)
    number += 1
print('now, number is bigger or equal to 6')

0
1
2
3
4
5
now, number is bigger or equal to 6

In [4]:
my_list=["a", "b", "c", "d", "e"]

a = 0

while a < len(my_list):
    print('square of {} is : {}'.format(a, a**2))
    a+=1

square of 0 is : 0
square of 1 is : 1
square of 2 is : 4
square of 3 is : 9
square of 4 is : 16

In [ ]:
while a < len(range()):
    print('square of {} is : {}'.format(a, a**2))
    a+=1

In [ ]:
flowers = ['Rose', 'Orchid', 'Tulip']
count1 = len(flowers)
count2 = ...

while count  > 0 :
    print(flowers[count1])
    count... -= ...
    count... += ...

In [ ]:
while condition1 :
  body
  while condition2 :
    body
    break

  break

In [5]:
for i in [1, 2, 3, 4, 5] :
    print(i)

1
2
3
4
5

In [7]:
for i in [1, 2, 3, 4, 5] :
    print("metin")

metin
metin
metin
metin
metin

In [9]:
for i in range(11) :
  print(i, end=" ")

0 1 2 3 4 5 6 7 8 9 10

In [11]:
print(*range(11))  # *asteriks

0 1 2 3 4 5 6 7 8 9 10

In [12]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
set(range(11))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
(range(11))

In [15]:
names = ["Ahmed", "Aisha", "Adam", "Joseph", "Gabriel"]
for i in names :
  print("hello", i)

hello Ahmed
hello Aisha
hello Adam
hello Joseph
hello Gabriel

In [33]:
list(range(6))

TypeError: ignored

In [28]:
mylist = []
for i in range(1, 6) :
  mylist.append(i)
  print(mylist)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [37]:
a=[1,2,3,4]
b=a
a.append(5)
print(b)

[1, 2, 3, 4, 5]

In [34]:
mylist = []
for i in range(1, 6) :
  mylist.append(i)
print(mylist)

[1, 2, 3, 4, 5]

In [39]:
word = input("give me a word : ")

counter = 0
for i in word :
    counter += 1
    
    if counter < len(word) :
      i = i + "-"
    
    print(i, end= "")

give me a word : clarusway
c-l-a-r-u-s-w-a-y

In [36]:
text= "clarusway"
count = 0

for i in text : 
  count += 1
  if count < len(text) :
    i += "-" 
  print(i, end = "")

c-l-a-r-u-s-w-a-y

In [ ]:
user :{
    "name": "Daniel",
    "surname": "Smith",
    "age": 35
}
for attribute in user :
    print(attribute)

In [8]:
n = int(input("enter a number between 1-10 : "))

for i in range(11):
    print("{}x{} = ".format(n, i), n*i)

enter a number between 1-10 : 5
5x0 =  0
5x1 =  5
5x2 =  10
5x3 =  15
5x4 =  20
5x5 =  25
5x6 =  30
5x7 =  35
5x8 =  40
5x9 =  45
5x10 =  50

In [11]:
n = int(input("enter a number between 1-10 : "))

for i in range(11):
  print(f"{n}x{i} = {n*i}")

enter a number between 1-10 : 5
5x0 = 0
5x1 = 5
5x2 = 10
5x3 = 15
5x4 = 20
5x5 = 25
5x6 = 30
5x7 = 35
5x8 = 40
5x9 = 45
5x10 = 50

In [21]:
mylist = []
for i in range(1, 6) :
  mylist.append(i)
  print(mylist)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [24]:
for i in range(1, 10) :
   print(i*str(i))

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [26]:
"5"*5

'55555'

In [27]:
5*"5"

'55555'

In [28]:
"ali " * 3

'ali ali ali '

In [30]:
print(*range(5))

0 1 2 3 4

In [32]:
print(range(5,25,2))

range(5, 25, 2)

In [33]:
print(*range(5,25,2))

5 7 9 11 13 15 17 19 21 23

In [35]:
print(* range(10, 1, -1))

10 9 8 7 6 5 4 3 2

In [36]:
text = ['one', 'two', 'three', 'four', 'five']
numbers = [1, 2, 3, 4, 5]
for x, y in zip(text, numbers):
	print(x, ':', y)

one : 1
two : 2
three : 3
four : 4
five : 5

In [37]:
zipped = zip(text, numbers)
zipped

In [38]:
print(*zipped)

('one', 1) ('two', 2) ('three', 3) ('four', 4) ('five', 5)

In [40]:
zipped = zip(text, numbers)

In [41]:
list(zipped)

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

In [43]:
zipped = zip(text, numbers)

In [44]:
dict(zipped)

{'five': 5, 'four': 4, 'one': 1, 'three': 3, 'two': 2}

In [ ]:
mylist[]

for i in (10)

In [45]:
çift_rakamlar = []
tek_rakamlar = []

for n in range(10):
    if n % 2 == 0:
        çift_rakamlar.append(n)
    else:
        tek_rakamlar.append(n)

print(çift_rakamlar)
print(tek_rakamlar)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [46]:
odd =[ i for i in range(0,10) if i % 2 ==1]
even =[ i for i in range(0,10) if i % 2 ==0]
print(odd, even, sep= "\n")

[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8]

In [47]:
evens = []
odds = []

for n in range(10) :
    if n % 2 == 0 :
      evens.append(n)
    else :
      odds.append(n)
print("evens :", evens)
print("odds :", odds)

evens : [0, 2, 4, 6, 8]
odds : [1, 3, 5, 7, 9]

In [48]:
numbers = (11, 2, 24, 33, 48, 85, 78, 98, 99)
odds = 0
evens = 0

for n in numbers :
    if n % 2 == 0 :
        evens += 1
    else :
        odds += 1

print("the number of the even numbers : ", evens)
print("the number of the odd numbers : ", odds)

the number of the even numbers :  5
the number of the odd numbers :  4

In [57]:
numbers = (11, 2, 24, 33, 48, 85, 78, 98, 99)

odds = []
evens = []

for n in numbers :
  if n % 2 != 0 :
    odds.append(n)
  else :
    evens.append(n)

print("the number of the odd numbers : ", odds)
print("the number of the even numbers : ", evens)

the number of the odd numbers :  [11, 33, 85, 99]
the number of the even numbers :  [2, 24, 48, 78, 98]

In [61]:
print("the number of the odd numbers : ", len(odds))
print("the number of the even numbers : ", len(evens))

the number of the odd numbers :  4
the number of the even numbers :  5

In [59]:
print("the number of the odd numbers : ", sum(odds))
print("the number of the even numbers : ", sum(evens))

the number of the odd numbers :  228
the number of the even numbers :  250