<a href="https://colab.research.google.com/github/metindrk/Python-Assignment/blob/main/11_12_2021_self_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def team_names(*teams) :
    print('The teams in Premier League are :')
    for i in teams :
        print('-', i)

team_names('Liverpool', 'M.United', 'M.City', 'Arsenal')

The teams in Premier League are :
- Liverpool
- M.United
- M.City
- Arsenal

In [ ]:
def make_sentence(**kwargs):
    result = ""
    # Iterating over the Python kwargs dictionary
    for i in kwargs.values():
        result += i
    return result

print(make_sentence(a="I ", b="love ", c="Clarusway!"))

I love Clarusway!

In [ ]:
 import calendar
yil = int(input("Yıl Gir : "))
ay = int(input("Ay Gir : "))
print(calendar.month(yil, ay))

Yıl Gir : 1921
Ay Gir : 12
   December 1921
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [ ]:
import datetime
now = datetime.datetime.now()
print ("Şu anki Tarih ve Saat : ")
print (now.strftime("%d-%m-%Y %H:%M:%S"))

Şu anki Tarih ve Saat :
09-12-2021 11:46:37

In [ ]:
filename = input("Dosya ismini girin: ")
uzanti = filename.split(".")
print ("Dosya Uzantısı : " + repr(uzanti[-1]))

Dosya ismini girin: adres.httml
Dosya Uzantısı : 'httml'

In [ ]:
filename = input("Dosya ismini girin: ")
uzanti = filename.split(".")
print("file extension is :", uzanti[-1])

Dosya ismini girin: gjgj.kjgjhg
file extension is : kjgjhg

In [ ]:
def team_league(team, league='Premier League'):
    print(team, 'in', league)

team_league('Liverpool')

Liverpool in Premier League

In [ ]:
def my_function(first, last) : 
    print('Your first name is :', first)
    print('Your last name is :', last)

my_function(first='Richard', last='Rice')

Your first name is : Richard
Your last name is : Rice

In [ ]:
def my_function(first, last) : 
    print('Your first name is :', first)
    print('Your last name is :', last)
my_function('Richard', "Rice")

Your first name is : Richard
Your last name is : Rice

In [ ]:
text = "I am the global one"
 
def global_func():
    print(text)  # we can use 'text' in a function
                 # because it's a global variable

global_func()  # 'I am the global one' will be printed
print(text)  # it can also be printed outside of the function
 
text = "The globals are valid everywhere "
 
global_func()  # we changed the value of 'text'
# 'The globals are valid everywhere' will be printed

I am the global one
I am the global one
The globals are valid everywhere

In [ ]:
def local_func():
    local_text = "I am the local one"
    print(local_text)  # local_text is a local variable

local_func()  # 'I am the local one' will be printed as expected
 
print(local_text)  # NameError will be raised
# because we can't use local variable outside of its function

I am the local one
I am the local one

In [ ]:
x = 10
def my_function_1(): 
    x = 20
    print(x)
    
print(x)

10

In [ ]:
"""Given a string, return a new string where the first and last chars have been exchanged."""
def front_back(word):
     if len(word) == 1: 
       return word
     else :
      return word[-1:] + word[1:-1] + word[:1]
front_back("clarusway")
#print(front_back('1plane2'))

'ylaruswac'

In [3]:
word = "plane"
print(word[-1:])  
print(word[1:-1])  
print(word[:1])

e
lan
p

In [24]:
word = "metin"
first_char= word[0]
last_char = word[-1]
a = word.strip(first_char)
b = a.strip(last_char)
print(word[0], end="--")
print(word[-1], end="--")
print(first_char, end="--")
print(last_char, end="--")
print(a,b, sep="--")

m--n--m--n--etin--eti

In [26]:
def changed_word(word):
  if len(word) ==1 :                         # without this single character will print twice
    return word
  else :
    first_char= word[0]
    last_char = word[-1]
    a = word.strip(first_char)
    b = a.strip(last_char)
    new_word = last_char + b + first_char
    return new_word
changed_word("metin")

'netim'

In [5]:
def changed_word(word):
  if len(word) ==1:                         # without this single character will print twice
    return word
    first_char= word[0]
    last_char = word[-1]
    a = word.strip(first_char)
    b = a.strip(last_char)
    new_word = last_char + b + first_char
    return new_word

w1 = changed_word("s")
n1 = changed_word("1")
w2 = changed_word("super")
n2 = changed_word("12345")

print(w1)
print(n1)
print(w2)
print(n2)

s
1
None
None

In [ ]:
def determine_min_value(a,b,c, d):
    print ("The minimum value is {}.".format(c < (b < a)))

In [ ]:
determine_min_value(1,2,9,-1)

The minimum value is False.

In [34]:
from functools import reduce
def check_greater(a,b):
    if a > b:
        return b
    else:
        return a

number_list = [1,6,3,8,5,78,4,23,9]

minimum = reduce(check_greater, number_list)

In [33]:
print(check_greater)

<function check_greater at 0x7f78fe561e60>

In [ ]:
reduce()

In [ ]:
fishes.txt = """Orca is a kind of Dolphin.
Blue Whale is the largest animal known on earth.
Sharks are the sister group to the Rays (batoids).
The Tuna Fish can weigh up to 260 kg.
Squid and Octopus are in the same class."""

In [ ]:
sea = open("fishes.txt", 'r')   

print(sea.read())  # displays the entire text content

sea.close()  # be sure to close the file

In [ ]:
def my_min(*args):
    result = args[0]
    for num in args:
        if num < result:
            result = num
    return result

my_min(4, 5, -11, 6, -9, -5, 7, 2)

-11

In [ ]:
def my_min(nums):
    result = nums[0]
    for num in nums:
        if num < result:
            result = num
    return result
my_min([4, 5, -9, 7, 2])

-9

In [ ]:
def my_min(a,b,c,d,e,f,g):
   result = min(a,b,c,d,e,f,g)
   return result
my_min(1,2,3,8,9,12,-9)

-9

In [ ]:
def my_min(*args):
    result = args[0]
    for num in args:
        if num < result:
            result = num
    return result

my_min(4, 5, 6, 7, -9, 78, - 2)

-9

In [ ]:
size = 100
time_for = timeit(for_loop, number = size)
time_1st = timeit(list_comp, number = size)

In [ ]:
print(f"List comp.is {round(time_for/time_list_comp, 2)}times faster than for loops.")

In [ ]:
def for_loop():
    
    result = []
    
    for i in range(1000000) :
        result.append(i)
    return result
    
# list comprehension ile
def list_comp() :
    return [i for i in range(1000000)]

In [ ]:
for_loop()

In [1]:
def factor(x):

    result = 1
    for i in range(x):
        result *= (i+1)
    return print(result)

In [ ]:
from module.py import my_function_1,  my_function_2 
module.py.my_function_1(10, 20)
module.py.my_function_2(30, 40)
area = a * b
hypotenuse = (a**2 + b**2)**0.5

In [ ]:
from string import punctuation, digits

In [6]:
def my_function_1(a, b)  :                                                                        #  from module.py import my_function_1,  my_function_2 
    area = a * b
    return area

my_function_1(10, 20)

200

In [8]:
def  my_function_2(a, b)  :
    hypotenuse = (a**2 + b**2)**0.5
    return hypotenuse

my_function_2(2, 3)

3.605551275463989

In [9]:
x = "PiMyLifeUp" #This is in the global space
def exampleFunc():
    global x #Use x from the global space
    x = "UpLifeMyPi" #Change our global x
    print("Learning from " + x) #Print out the global x value

exampleFunc()

print("Learning from " + x)#Print out the global x value again

Learning from UpLifeMyPi
Learning from UpLifeMyPi