<a href="https://colab.research.google.com/github/metindrk/Python-Assignment/blob/main/27_10_2021_PtythonSerbestCalisma.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Soru: Dik üçgende dik açının karşısındaki kenara hipotenüs denir. Hipotenüs formülü : a^2 + b^2 = c^2 olduğuna göre kullanıcıdan alınan A ve B kenarına göre hipotenüsü hesaplayan kodu yazınız.

In [ ]:
a = int(input("a kenarını giriniz: "))
b = int(input("b kenarını giriniz: "))

c = (a**2 + b**2)**(1/2)

print(c)

Soru: Beden kütle endeksi kilo/boy^2 formülü ile hesaplanarak bireyin kilolu normal zayıf veya obez sınıfına girdiği ile ilgili sonuç verir. Kütle Endeksi (KE) < 18.5 ise Zayıf , 18.5 < (KE) <=25 ise Normal , 25 < (KE) <= 30 ise Kilolu , (KE) > 25 ise birey obez sınıfına girmektedir. Kütle endeksi kodunu yazınız.

In [ ]:
boy = float(input("boy giriniz: "))
kilo = float(input("kilo giriniz: "))

endeks  = kilo/(boy**2)

if endeks < 18.5:
    print("Zayıf")
    
elif 18.5 < endeks <=25:
    print("Normal")
elif 25< endeks <=30:
    print("Kilolu")
elif endeks > 30:
    print("obez")

In [ ]:
row = 5

for i in range(row,0,-1):
    for j in range(i):
        print("*", end=" ")
    print()

In [ ]:
for k in range(5,0,-1):
    for i in range(k):
        print("*", end= " ")
    print()

In [ ]:
isim = "fevzi"
sehirler = ["ankara", "kayseri", "istanbul"]


for sehir in sehirler:
    for i in sehir:
        print(i)

In [ ]:
rows = 29

ascii_value = 65

for i in range(rows):
    
    alphabet = chr(ascii_value)
    print(alphabet, end=" ")
    
    ascii_value += 1
print()

In [ ]:
numbers = [2,4,6,4,7,8,9,1,10]

for i in numbers:  # 2 4 6 4 7 8 9 1 10
    if i%2==0:
        print(i, end=" ") # 2 4 6 4 8 10
        
    elif i%2==1:
        print(i, end=" ") # 7 9 1

In [ ]:
numbers = [2, 4, 6, 4, 7, 8, 9, 1, 10]

cift_sayilar = []
tek_sayilar = []

for i in numbers:
  if i % 2 == 0:
    cift_sayilar.append(i)
  elif i % 2 == 1:
    tek_sayilar.append(i)

print(sorted(set(cift_sayilar))) # 4 sayısı bir daha yazılmasın diye set kullandım
print(sorted(set(tek_sayilar)))

In [ ]:
a = 33
b = 3

print("A") if a > b else print("=") if a == b else print("B")

In [ ]:
a =5
b =5

if a>b:
    print("A")
elif a==b:
    print("eşit")
else:
    print("B")

In [ ]:
a = 400
b = 200

if b > a:
  pass

In [ ]:
sayilar = list(range(1,10))
print(sayilar)

In [ ]:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
  if x == "banana":
    continue
  print(x)

In [ ]:
sayilar = list(range(1,10))

for i in sayilar: # 1 2 3 4 5 6 7
    print(i)
    if i == 7:        
        break

In [ ]:
sayilar = list(range(1,10))

for i in sayilar: # 1 2 3 4 5 6 7
    
    if i == 7:        
        break
    print(i)

In [ ]:
i = 1
while i <= 6:
  
  if i == 3:
    break
  print(i)
  i += 1

In [ ]:
answer = 44

question = 'What number am I thinking of?  '
print ("Let's play the guessing game!")

while True:
    guess = int(input(question))

    if guess < answer:
        print('Little higher')
    elif guess > answer:
        print('Little lower')
    else:  # guess == answer
        print('Are you a MINDREADER!!!')
        break

In [ ]:
answer = 44

question = 'What number am I thinking of?  '
print ("Let's play the guessing game!")


while answer!=guess:
    guess = int(input(question))

    if guess < answer:
        print('Little higher')
    elif guess > answer:
        print('Little lower')
    else:  # guess == answer
        print('Are you a MINDREADER!!!')