<a href="https://colab.research.google.com/github/metindrk/Python-Assignment/blob/main/self_study_06_12_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
"""Try to find out if a number you get from the user is perfect.
A number is called a "perfect number" if the sum of its divisors is equal to itself. For example, 6 is a perfect number. (1 + 2 + 3 = 6)"""
sum_num = 0
num = int(input("Enter a number : "))
for i in range(1,num) :
    if num % i == 0 :
      sum_num += i
if sum_num == num : 
    print(num, "is a perfect number.")
else :
    print(num, "is not a perfect number.")

Enter a number : 6
6 is a perfect number.

In [10]:
num = int(input("Enter a number : "))
sum_num = sum([i for i in range(1,num) if num % i == 0])
if sum_num == num : 
    print(num, "is a perfect number.")
else :
    print(num, "is not a perfect number.")

Enter a number : 6
6 is a perfect number.

In [6]:
num1 = int(input("Enter 1st number  : "))
num2 = int(input("Enter 2nd number  : "))
print(num1+num2)
print(num1*num2)
print(num1 / num2)

Enter 1st number  : 8
Enter 2nd number  : 2
10
16
4.0

In [9]:
numbers = list(range(90,101))
print(numbers[::-1])

[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90]

In [10]:
numbers = list(range(70,100))
print(numbers[::-2])

[99, 97, 95, 93, 91, 89, 87, 85, 83, 81, 79, 77, 75, 73, 71]

In [23]:
new_num = []
for i in range(50, 101):
    if i % 3 == 0 :
      new_num.append(i)
8    elif i % 7 == 0 :
      new_num.append(i)
print(new_num)

[51, 54, 56, 57, 60, 63, 66, 69, 70, 72, 75, 77, 78, 81, 84, 87, 90, 91, 93, 96, 98, 99]

In [28]:
print(sum(list(range(1,21))))

210

In [29]:
num = []
for i in range(20,51) :
   if i % 2 != 0 :
     num.append(i)
print(num)

[21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [31]:
mylist = [3,8,6,9,45,2,3,8]
print(sum(mylist))

84

In [32]:
mylist = [3,8,6,9,45,2,3,8]
print(min(mylist))

2

In [47]:
mylist = [1,5,8,2,11,7,33,3,9,6,12,45,2,3,99]
print(mylist[1:])

[5, 8, 2, 11, 7, 33, 3, 9, 6, 12, 45, 2, 3, 99]

In [96]:
new_mylist = []
mylist = [1,5,8,2,11,7,33,3,9,6,12,45,2,3,99]
for i in mylist :
  print(i, end=" ") 
for j in mylist[1:] :
  print(j, end=" ")
print()

1 5 8 2 11 7 33 3 9 6 12 45 2 3 99 5 8 2 11 7 33 3 9 6 12 45 2 3 99

In [95]:
import random
mylist = [1,5,8,2,11,7,33,3,9,6,12,45,2,3,99]
random.sample(mylist, 6)

[99, 5, 3, 2, 8, 11]

In [59]:
new_mylist = []
mylist = [1,5,8,2,11,7,33,3,9,6,12,45,2,3,99]
for i in mylist :
    for j in mylist :
      if i < j :
          new_mylist.append(j)
      else :
          break
print(new_mylist)

[]

In [ ]:
new_mylist = []
mylist = [1,5,8,9,11,21,33,3,8,6,9,45,2,3,8]
for i in mylist :
    if i % 2 != 0 :
      new_mylist.append(i)
print(set(new_mylist))

In [43]:
list1=[1,1,3,3,6,6,4,4,5,5,55,55,77,888,888,77]
list2=[]

for i in list1:
    tekrarlanan=list1.count(i)
    print(tekrarlanan)
    if tekrarlanan == 2 and i not in list2:
        list2.append(i)
    else:
        pass
print(list2)

2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
[1, 3, 6, 4, 5, 55, 77, 888]